body {
    background-color: hsl(30, 18%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding-bottom: 10%;
}

.container {
    height: 100vh;
    height:1000px;
    width: 700px;
    background-color: White;
    border-radius: 40px;
}



.Egg img{
    display: block;
    margin: auto;
    max-width: 100%;
    width: 625px;
    height: 250px;
    margin-top: 25px;
    border-radius: 25px;
}

.Título h1{
    margin-left: 35px;
    font-family: 'Outfit-VariableFont_wght.ttf', sans;  
    font-size: 2.5rem;
    margin-bottom: 0.2em;
}

.Título h4{
    font-size: 0.9rem;
    margin-top: 0px;
    font-weight: normal;
    color: grey;
    margin-left: 35px;
    font-family: 'YoungSerif-Regular.ttf', sans-serif;  
   
}


